<% if object.errors.full_messages.any?%>
  <div class="alert alert-danger", data-turbo="false">
    <ul class="mb-0", data-turbo="false">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>