<%= search_form_for @q, url: root_url do |f| %>
  <form class="d-flex ">
    <div class = 'pt-3'>
      <div class="row"> 
        <div class='col-8'>
          <%= f.search_field :name_or_description_cont_any, class: "form-control me-2", placeholder: 'Я шукаю...' %>
          </div>
        <div class="col-2">
         <%= f.submit class: 'btn btn-outline-dark'%>   
        </div>
      </div>
    </div>
  </form>
  <%= link_to "Clear", request.path, class: "btn btn-default p" %>
  <% end %>
 